//$ sass --watch sass/styles.scss:stylesheets/styles.css
//@import "compass";
@import "partials/variables";
@import "partials/normalize";
@import "partials/mixins";
@import "partials/base";


body {
    background-color: #ffffff;
}

br {
  border: 1px solid $dark-grey;
}
/************************************
* Navbar
*************************************/
.sc-nav-ul {
    > li {
        > a {
            &:hover {
                opacity: 1;
            }
        }
    }
}

.sc-nav-ul li {
    border-right: 1px solid $dark-grey;
    &:last-child {
        border: none;
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

/************************************
* HEADER
*************************************/

.masterhead {
    height: 250px;
    text-align: center;
}

.brand-heading {
    margin-bottom: 0;
}

/************************************
* Quick Overview
*************************************/
.content-section {
    margin-bottom: 20px;
}


/************************************
* Card Game
*************************************/
.games {
    background-color: #FAFAFA;
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.games-header {
    margin-bottom: 20px;
    h3 {
        text-align: center;
    }
}

#under, #over, #same {
    cursor: pointer;
    text-align: center;
    border: 1px solid #CACACA;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-top: 0;
    margin-bottom: 0;
    &:active {
        background-color: #B4AFAF;
    }
}


#deal {
    border: 2px solid #555;
    border-radius: 5px;
    background-color: #f2f2f2;
    cursor: pointer;
    padding-top: 65px;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    &:active {
        background-color: #B4AFAF;
    }
}

.card-action {
    width: 25%;
    margin: 0 auto;
    display: block;
    padding-bottom: 10px;
    margin-top: 15px;
}

.showAction {
    display: block;
}

.hideAction {
    display: none;
}

#dice-game {
    border: 2px solid #023B13;
    border-radius: 5px;
    background-color: #076324;
}

#card {
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 10px;
    padding-top: 40px;
    display: block;
    margin: 0 auto;
    height: 250px;
    width: 125px;
    font-size: 65px;
    text-align: center;
    line-height: 1.2;

    &:before {
        content:attr(data-card);
        display:block;
      }

    &:after{
        margin-top: 30px;
        content:attr(data-suit);
    }
}

.card-game-info {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    color: $light-grey;
    background-color: #01A131;
}

.bets-and-status {
    display: block;
    margin: 0 auto;
    width: 40%;
}

.bet-btn {
    border: 2px solid #555;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: $dark-grey;
    cursor: pointer;
    margin-bottom: 5px;
    &:active {
        background-color: #B4AFAF;
    }
}

/************************************
* Summary
*************************************/

#summary {
    text-align: justify;
}

#summary-header {
    margin-bottom: 25px;
    text-align: center;
}

/************************************
* Scroll Button
*************************************/

.btn-circle {
    color: $dark-grey;
    width: 50px;
    height: 50px;
    padding: 6px 0px;
    border-radius: 55px;
    text-align: center;
    font-size: 20px;
    display: block;
    margin: 0 auto;
}
